.dias-nav{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.plataforma-casco{
     background-color: white;
}
h3{
    color: black;

}
.h3-upload{
    color: black;
}
.turnos-styles{
    color: white;
    margin: 20px;
    background-color: black;
}

.delete-turno {
    cursor: pointer;
}
.grilla{
    display: flex;
    justify-content: space-between;
    
}
.on-top{
    display: flex;
    flex-direction: column;
    min-height: 700px;
    margin-top: 90px;
}
.tr-dom{
    font-weight: bold;
    background-color: white;
}
table{
    border-collapse: collapse ;
}
th, td {
    padding: 30px;
    min-width: 200px;
}
thead{
    background-color: #00304E;
    border-bottom: solid 10px black ;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #557996;
}
.centrado-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #009fe3;
}
footer{
    height: 80px;
    background-color: black ;
    font-weight: bold;
    color: white;
}
