.dias-nav{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.plataforma-casco{
     background-color: white;
}
h3{
    color: black;

}
.h3-upload{
    color: black;
}
.turnos-styles{
    color: white;
    margin: 20px;
    background-color: black;
}

.delete-turno {
    cursor: pointer;
}
.grilla{
    display: flex;
    justify-content: space-between;
    
}
.on-top{
    display: flex;
    flex-direction: column;
    min-height: 700px;
    margin-top: 90px;
}
.tr-dom{
    height: 100px;

}
.centrado-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #009fe3;
}
